<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InfoHub - Strona Powitalna</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form>
        <h3>Witaj w InfoHub!</h3>
        <p class="tagline">Wszystkie informacje w jednym miejscu</p>
        <button><a href="/login" style="color: #080710; text-decoration: none;">Zaloguj się</a></button>
    </form>
</body>
</html>
